@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    // border: 1px solid red;
}

:root {
    --black: #252525;
    --black2: #131415;
    --orange: #FFA400;
    --red: #FC2933;
    --white: #FFFFFF;
    --gradient1: #FFA100;
    --gradient2: #FB103D;
    --grey: #828080;
    --platinum: #E5E4E2;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
}

main{
    min-height: 225px;
}

body {
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--white);
    height: 100vh;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

/* HEADER */

header {
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    position: sticky;
    top: 0%;
    z-index: 2;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 40px 65px;
}

.logo-container img {
    width: 76px;
}

.navbar {
    height: 150px;
    display: flex;
    flex-direction: row;
}

.navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 70px 110px;
    color: var(--white);
    font-size: 12px;
    line-height: 15px;
}

.nav-item:first-child > a {
    display: flex;
    align-items: center;
}

.nav-link {
    cursor: pointer;
}

.burger-icon{
    height: 20px;
    display: none;
}

.menu-bar{
    background-color: var(--black);
    height: 0.5px;
    width: 100%;
    position: sticky;
    top: 150px;
    left: 0px;
    z-index: 1;
}

.icon {
    cursor: pointer;
}

img.home {
    padding-right: 14.5px;
}

#home {
    color: var(--black);
}

.cart {
    padding-right: 54px;
    padding-left: 68px;
    opacity: 0.5;
}

.profile {
    opacity: 0.5;
}

/*Filters*/

.filter-container{
    margin-top: 25px;
}

.filter-list{
    display: flex;
    flex-direction: row;
}

.filter-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 125px;
    height: 125px;
    border-radius: 17px;
    background-color: var(--white);
    border: 0.5px solid var(--platinum);
    cursor: pointer;
    margin: auto;
    padding: 5px 0 0 0;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.01);
}

.filter-img {
    position: relative;
    height: 85px;
    width: 85px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: auto;
}

.selectedCard{
    border: 1px solid var(--black2);
    font-weight: bolder;
    font-size: 12.5px;
    box-shadow:
    inset 0px 0px 2.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0px 15px 10px rgba(0, 0, 0, 0.02);
}

/*Log in*/

section#log-in, section#registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 25px;
    height:50vh;
}

.log-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.log-box > .box-text{
    width: 175px;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
}

.div-reg{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-items: center;

    > label{
        font-size: 12.5px;    
    }

    > .box-text{
        width: 200px;
        height: 25px;
        border-radius: 25px;
        padding: 0 20px;
    }   
}

.sign-text a{
    font-size: 10px;
    color: var(--grey);
}

.btn-box input{
    size: 1rem;
}

.btn-continue{
    text-decoration: none;
    border: none;
    border-radius:35px;
    width:100px;
    height:35px;
    background-color: var(--platinum);
    box-shadow:
    inset 0px 0px 2.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0px 15px 10px rgba(0, 0, 0, 0.02);
}

/*Burguer Menu*/
.menu-burger{
    border: 1px solid var(--platinum);
    height: 100vh;
    width: 350px;
    z-index: 5;
    background-color: var(--white);
    position: absolute;
    top: 100px;
    right: 0px;
    padding: 15px 0 0 15px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    overflow-y: hidden;
    overflow-x: hidden;
    display: none;

    > p {
        padding: 0 0 25px 0;
        > a:visited{
            color: var(--black2);
        }
    }
}

.show-overlay{
    position: absolute;
    top: 150px;
    min-height: 100vh;
    max-height: 300vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}

/* Render card*/

.div-cards{
    min-height: 0px;
    margin: 25px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 0;
    padding-bottom:50px;
}

.cards-padding{
    display: none;
}

.product-item, .product-incart{
    height: 125px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid var(--platinum);
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 0;

    .prod-text{
        display: flex;
        flex-direction: column;
        gap: 5px;

        > .div-tit{
            display: inline-block;
            max-height: 50px;
            width: 150px;

            > .product-name{
                font-size: 15px;
                text-transform: uppercase ;
                word-wrap: break-word;
            }
        }
        
        > .product-brand{
            font-size: 10px;
            font-weight: bolder;
            text-transform: capitalize;
        }
    
        > .price-box{
            :first-child{
                font-size: 15px;
            }
            :last-child{
                font-size: 12.5px;
            }
        }

        > .prod-tags{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            > span {
                word-wrap: normal;
                text-transform: lowercase;
                width: auto;
                max-height: 10px;
                font-size: 9px;
                font-style: italic;
            }
        }
    }

    .div-pic{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        > .prod-pic{
            height: 70px;
            width: 70px;
            border-radius: 70px;
            border: 0.5px solid var(--platinum);
            gap: 5px;
        }

        > .add-cart{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 70px;
            border: 1px solid var(--platinum);
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            background-color: #f8f8ff;
            font-size: 11px;
            cursor: pointer;

            &:hover{
                box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
                background-color: #f5f5f5;
            }        

            > .cart-plus{
                filter: invert(37%) sepia(67%) saturate(13%) hue-rotate(335deg) brightness(94%) contrast(87%);
                height: 17.5px;
                width: 20px;
            }
        }
        
    }
}

/*Hero*/

.div-hero{

    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 75px;

    .title-hero{
        font-family: "Cardo";
        font-size: 65px;
        width: 550px;
        // margin: 75px;
    }

    h2{
        display: none;
        font-family: "Cardo";
        font-size: 65px;
    }
    
    .img-hero{
        position: absolute;
        right: 0px;
        top: 15vh;
        height: 85vh;
        width: auto;
        // filter: blur(8px);
        // -webkit-filter: blur(2px);
        opacity: 85%;
    }

    .hero-buttons {
        display: flex;
        gap: 50px;
        > button {
            font-size: 25px;
            font-weight: lighter;
            background-color: var(--white);
            text-decoration: none;
            border: 1px solid var(--grey);
            padding: 25px 10px;
            border-radius: 15px;
            width: 225px;
            z-index: 1;

            a:visited{
                color: var(--black);
            }

            &:hover{
                // background-color: red;
                color: black;
                font-weight: 400;
                transform:scale(1.05, 0.95);
                // filter: invert(37%) sepia(37%) saturate(13%) hue-rotate(335deg) brightness(94%) contrast(87%);
                background-color: #a9a7a715;
                transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
                cursor: pointer;
            }

        }
    }
}

.buttons-hide{
    display: none;
}

.div-hero .image-blur{
    // display:none;
    opacity: 25%;
    // position:fixed;
    // right: 0px;
    // transform: translateX(5000px);
    // transition: all 1s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    // overflow: hidden;
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);    
}

/*Who*/

.div-who{
    // display: none;
    position: fixed;
    width: 100vw;
    bottom: 100px;
    padding: 25px 75px;
    font-size: 20px;
    background-color: rgb(235,235,235,0);
    opacity: 0.65;
    transform: translateY(950px);
    overflow: hidden;
    // background-color: rgb(255,255,255,0.1);

    .who-text{
        width: 50vw;
    }
}

.open-who{
    // display: default;
    transform: translateY(5px);
    transition: all ease 1.2s;
}

/*Cart*/

.cart-container{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 150.5px;
    right: 0px;
    height: 450px;
    width: 320px;
    border: 1px solid var(--platinum);
    background-color: #FFFFFF;
    padding: 15px 30px;
    z-index: 5;
    overflow-y: auto;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    overflow-x: hidden;

    > h3{
        font-family: 'Montserrat';
        font-weight: 400;
        margin-bottom: 15px;
    }

}

.line-cart{
    display: inline-block;
    min-height: 1px;
    width: 225px;
    background-color: var(--black);
    margin: 10px 0 0 0;
    padding: 0px;
}

.products-incart{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;

    > .button-cart{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 10px;
        border: 1px solid var(--platinum);
        cursor: pointer;

        &:hover{
            box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.05);
            background-color: #f5f5f5;
        }
    }
}

.text-noprod{
    font-size: 13px;
    color: var(--grey);
}

.div-total{
    margin-top: 10px;
    min-height: 50px;
    display: grid;
    grid-template-columns: 125px 50px 50px;

    >#total-text{
        font-weight: 600;
    }
    // >#total-value{

    // }

    // >#total-currency{

    // }
}

.cart-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buy{
    min-height: 35px;
    width: 100px;
    border-radius: 25px;
    border: 1px solid var(--grey);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.075);
    font-weight: bolder;
    margin-top: 10px;
    cursor: pointer;

    &:hover{
        background-color: var(--grey);
        color: var(--platinum);
    }
}

.empty{
    min-height: 35px;
    width: 100px;
    border-radius: 25px;
    border: 1px solid var(--grey);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.075);
    font-size: 12px;
    margin-top: 10px;
    background-color: #F5DEB3;
    cursor: pointer;

    &:hover{
        font-weight: bolder;
        background-color: #DAA520;
    }
}

.disabled{
    font-size: 12px;
    font-weight: 300;
    border: none;
    background-color: #B8B8B8;
    color: var(--grey);
    cursor:not-allowed;

    &:hover{
        font-weight: 300;
    }
}

// .hide{
//     position: absolute;
//     top: -1000px;
//     background-color: red;
// }

/* Open cart and burger*/

.open-cart{
    display: flex;
    transform: translate(0%);
    transition: all ease 0.5s;
}

.open-menu{
    transform: translate(0%);
    transition: all ease 0.5s;
    display: block;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    // padding: 10px 35vw 10px 35vw;
    font-size: 10px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

#cart-link{
    cursor: pointer;
}

.no-scroll {
    position: fixed;
    overflow-y: hidden;
    width: 100%;
}

/* Responsive*/

@media screen and (max-width: 1350px) {
    .img-hero{
        display: none;
    }
}


@media  screen and (max-width: 750px) {
    .burger-icon{
        display: inline-block;
    }

    .icon{
        display:none;
    }

    span#home{
        display:none;
    }

    .filter-list{
        flex-direction: column;
        gap: 10px;
    }

    .filter-item{
        width: 95%;
    }

    .menu-burger{
        // display: none;
    }

    .open-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 50px 0 0 0;
        gap: 15px;
        top: 150px;
        width:100vw;
        z-index: 5;
        // background-color: red;
    }

    .cart-container{
        top: 150px;
        width:100vw;
        z-index: 5;        
    }

    .who-text{
        min-width: 100%;
    }

    .box-reg{
        flex-direction: column;
        max-width: 100vw;
        overflow: hidden;
    }

    .div-reg{
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 660px) {
    .div-hero .title-hero{
        display: none;
    }

    .div-who{
        padding: 25px 15px;
    }

    .div-hero h2{
        display: inline;
    }

    .open-who{
        position: static;
    }

    .navbar-list{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        margin: 0;
        padding: 0;
    }

    .icons-box{
        max-width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;
    }

    .hero-buttons{
        flex-direction: column;
        align-items: center;
    }

    .who-text{
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 400px) {

    .div-hero{
        min-height: 0px;
    }

    .div-hero h2{
        font-size: 47.5px;
        gap: 20px;
        padding:0px;
    }

}
